<div class="main_section">
  <h2> Connection </h2>
  <div class="form_wrapper">
    <form class="form_root" [formGroup]="FormIdentification" (ngSubmit)="submit()" >
      <div class="form_content" style="display: flex">
        <div class="col-md-5">
          <label for="login">login</label>
          <input type="text" formControlName="login" class="form-control" id="login" placeholder="login"/>
        </div>
        <div class="col-md-5">
          <label for="password">mot de passe</label>
          <input type="text" formControlName="password" class="form-control" id="password" placeholder="mot de passe">
        </div>
      </div>
      <button type="submit" style="margin-left: 15px;" class="btn btn-primary">Valider</button>

      <div *ngIf="data">
        <div><p>Vous vous êtes connecté avec succès!</p></div>
      </div>
    </form>

  </div>
</div>
