.filter_content {
  margin-left: 5%;
  margin-top: 3%;
}

.filter_content_wrapper {
  display: flex;
}

.filter_content_col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
